* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    max-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right bottom, rgb(200, 59, 83),rgb(46, 195, 218),rgb(198, 87, 105));
    color: #f1e9e9;
    font-weight: 600;
}

.container {
    border: 0.5px solid #161515;
    border-radius: 10px;
    padding: 28px 32px;
    display: flex;
    flex-direction: column;
    background: rgba(183, 153, 153, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: 5px 5px 6px rgba(215, 222, 182, 0.5), 8px 8px 0px rgba(199, 211, 101, 0.5);
}

.container h1 {
    font-size: 1.4rem;
    margin-block: 8px;
    color: #000;
    font-weight: 800;
}

.inputBox {
    position: relative;
}

.inputBox span {
    position: absolute;
    top: 16px;
    right: 12px;
    color: #000;
    font-size: 28px;
    cursor: pointer;
    z-index: 2;
}

.sliderContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.sliderValueBox {
    display: flex;
    flex-direction: column; 
    align-items: flex-end; 
    font-size: 20px;
    font-weight: bold;
    position: relative;
}

#sliderValue {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}

.fixedEight {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.8); 
    position: absolute;
    top: -12px; 
    right: 0;
}


.PassBox {
    background-color: #fff;
    color: #333;
    border: none;
    outline: none;
    padding: 10px;
    width: 300px;
    border-radius: 4px;
    font-size: 20px;
    margin-block: 8px;
    text-overflow: ellipsis;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block: 8px;
}

.row p,
.row label {
    font-size: 18px;
}

.row input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

.genBtn {
    border: none;
    outline: none;
    background-color: #f02d13;
    padding: 12px 24px;
    color: #fff;
    font-size: 18px;
    margin-block: 8px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 4px;
   
}

.genBtn:hover {
    background-color: #0056b3;
}


/* media query */

@media screen and (max-width: 600px) {
    .container {
        width: 90%;
        padding: 20px;
        background-color: rgb(234, 168, 168);
        color: black;
    }
    h1 {
        font-size: 1.2rem;
        text-align: center;
    }
    .PassBox, .genBtn {
        width: 100%;
        font-size: 16px;
        color: red;
        background-color: rgb(226, 212, 90);
    }
    .row {
        flex-direction: column;
        align-items: flex-start;
    }
    .sliderContainer {
        flex-direction: column;
        align-items: flex-start;
    }
    #sliderValue {
        font-size: 20px;
    }
    .fixedEight {
        font-size: 14px;
        top: -10px;
    }
}

